.sidebar 
{
    position: fixed;
    top: 4rem;
    left: 0;
    bottom: 0;
    right: 0;
    width: 14rem;
    height: auto;
    background-color: rgb(16, 15, 15);
    z-index: 9;
    padding: 0rem 1rem;
    box-shadow: 2px 3px 4px 0px rgb(47, 46, 46);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    overflow-x: auto;
    margin-bottom: 1rem;

    a
    {
        font-size: 1rem;
    }

    .container-home
    {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
    }

    .flex-container
    {
        display: flex;
        gap: .8rem;
        padding-top: .6rem;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

    
        &:hover
        {
            background: var(--bg);
        }
        
    }

    .container
    {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        border-top: 1px solid rgb(142, 140, 140);
        .search-page
        {
           display: none;
        }


        h3 
        {
            margin-top: 1.5rem;
        }
        
        .channels 
        {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .link 
                {
                    font-size: 1rem;
                   font-weight: bold;
                }

            .channel-info
            {
                display: flex;
                gap: 2rem;
                align-items: center;

                

                img 
                {
                    object-fit: cover;
                    clip-path: circle();
                }
            }
        }
    }

    .sign-in
    {

        h3 
        {
            font-size: 1rem;
            line-height: 1.3rem;
            margin-bottom: 1rem;
        }

        .link
        {
           
            font-weight: bold;
            text-decoration: underline;
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 800px)
{
    .sidebar
    {
        .container
        {
            .search-page
            {
                display: flex;
            }
        }
    }
}