.channel-container
{   
    display: flex;
    margin-top: 2rem;
    row-gap: 1rem;
    column-gap: .7rem;
    align-items: flex-start;
    
    img 
    {
        clip-path: circle();
    }

    .channel-right 
    {
        h3 
        {
            font-size: clamp(1rem, 2vw, 1.1rem );
            max-width: 400px;
            line-height: 1.3rem;
            padding-bottom: .5rem;
        }

        .subscribers-container
        {
            display: flex;
            gap: .5rem;
            align-items: center;
            margin-top: .3rem;

            .date 
            {
                font-weight: bold;
            }
        }
    }
}